<form action="/card/add" method="post" class="card p-3 bg-light text-center">
   <h2 class="text text-primary">Add new Pokemon</h2>
   <div class="form-group">
      <label class="text-success h6">Pokemon Name</label>
      <input class="form-control" type="text" name="name" required minlength="3" maxlength="50">
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Price</label>
      <input class="form-control" type="number" name="price" required >
   </div>
 
   <div class="form-group mt-3">
      <label class="text-success h6">Pokemon Image</label>
      <input class="form-control" type="text" name="image" required>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Date</label>
      <input class="form-control" type="date" name="dob" required>
   </div>
   
   <div class="form-group mt-3">
      <label class="text-success h6">Made</label>
      <input class="form-control" type="text" name="made" required>
   </div>
    <div class="form-group mt-3">
      <label class="text-success h6">Describe</label>
      <input class="form-control" type="text" name="des" required>
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-primary mt-3" type="submit" value="Add">
   </div>
</form>