 <section class="featured spad">
        <div class="container">
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/3/0/304037_3__1.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/2/0/20112_1_.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/v/t/vtf8_2_.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/1/7/172789_2.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                              <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/g/l/glc97_pip_c_20_090.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/m/y/mykingdom-43197_2_.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                                 <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/m/y/mykingdom-76200_2_.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                               <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/m/y/mykingdom-6061798_4_.jpg" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>